body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
}
nav {
    display: flex;
}


.logo-box {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #F38D3E;
    margin-left: 100px;
}
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 2px;
}
h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.menu li {
    list-style: none;
    list-style-type: none;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu a {
    color: #fff;
    text-decoration: none;
}

.image-container {
    margin-bottom: 250px;
    margin-top: 50px;
    padding: 0;
    width: 100%;
    position: relative;
}
.image-container img {
    opacity: 50%;
    margin: 0;
    padding: 0;
    margin-left: 500px;
    border-radius: 50%;
}
.image-container #me {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 4.6rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100px;
    left: 50px;
    width: 600px;
    z-index: 1;  
}
.hello {
    font-size:9.375rem;
}
.quote-1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    color: #fff;
    width: 400px;
    text-align: center;
    position: absolute;
    right: 150px;
    bottom: 50px;
    margin: 0;  
}
.about-container {
    display: flex;
    /*border: 1px solid orange;*/
    height: 500px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
.about-me {
    width: 220px;
    text-align: center;
    /*border: 1px solid green;*/
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    
}
.about-title {
    color: #F38D3E;
    font-weight: bold;
    font-size: 36px;
}
.sw-logos {
    /*border: 1px solid green;*/
    width: 750px;
    height: 400px;
    margin:0;
    padding: 0;
    position: relative;
}
#js-logo {
    position: absolute;
    left: 20px;
    bottom: 0px;
    margin: 0;
    padding: 0;
}
#arduino-logo {
    position: absolute;
    left: 175px;
    top:200px;
}
#sw-logo {
    position: absolute;
    right: 0px;
    top: 50px;
}
#python-logo {
    position:absolute;
    left: 75px;
    top: 50px;

}
.pics {
    display: flex;
    justify-content: center;
    
    
}
.pics img {
    margin: 10px;
    opacity: 60%;
}
.container {
    position: relative;
}
.caption {
    position: absolute;
    z-index: 1;
    right: 40px;
    bottom: 20px;
    color: #F38D3E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;

}
